html {
	font-size: 15px;
}

body {
	width: 960px;
  margin: 0 32px;
}

ul.tabselect {
  padding: 0;
}

.tabselect li {
  display: inline;
  list-style: none;
  margin: 0 2px;
}

.tabselect li a {
  padding: 5px;
}

#planner ul li {
	list-style: none;
}

#planner .track {
  padding: 0;
}

.item {
  position: relative;
  vertical-align: middle;
  min-height: 11px;
  padding:4px 12px;
  overflow: hidden;
  height: 81px;
  margin: 0px;
  border-bottom: 1px solid black;
}

#table-wrap {
  clear: both;
}

body div.tab {
  display: none;
}

div#planner {
  display: block;
}

.icon {
  position: absolute;
  top:2px;
  display: none;
	height: 12px;
  margin:2px;
	width: 14px;
	z-index: 999;
}

.sort-handle {
  right:20px;
	background-position: 0 158px;
}

.close {
  right:2px;
	background-position: 175px 110px;
}

h2  {
  margin: 0;
}

.newitem, .deltrack {
  cursor: pointer;
  padding: 0 5px;
}

.deltrack {
  border-right: 1px black solid;
}

.track-wrap {
  margin-left:4px;
  float: left;
}
.duration {
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 10px;
	height: 12px;
  margin:2px;
  z-index: 950;
}

#template {
  width: 100%;
  height: 80px;
}

#newtrack, #date {
  width: 475px;
  font-size: 15px;
  height: 20px;
	margin-bottom: 10px;
}

.planner-form {
  float: right;
}

.track-head {
  height: 45px;
}

#timeline {
  padding: 0 4px;
  overflow: hidden;
  float: left;
  width: 52px;
  display: none;
}

#timeline #epoch input {
  width: 52px;
}

#timeline form {
  margin:0;
  margin-top: 59px;
  text-align: center;
  border-top: 1px black solid;
}

#timeline .step {
	border-top: 1px black solid;
	font-size: 11px;
	text-align: center;
}

#planner-instructions {
	display: none;
  font-size: small;
  margin-top: 10px;
  text-align: justify;
  border-top: 1px black solid;
  padding: 10px 64px 10px 84px;
  position: relative;
}

#planner-instructions form {
  position: absolute;
  top: 10px;
  left: 10px;
}

#planner .loadform {
  top: 50px;
}

#planner-instructions dt, #planner-instructions dd {
  display: inline;
  margin: 0;
}

#planner-instructions dt {
  font-weight: bold;
}

label {
  font-weight: bold;
  float: right;
}

.instruction {
  font-size: 80%;
  margin: 1px 20px;
}

#notification {
  display: none;
  height: 20px;
  padding: 10px;
  font-weight:bold;
  text-align: center;
  width: 300px;
  position: absolute;
  top: -3px;
  left:362px;
}

/* resizable */
.ui-resizable {
  /* http://www.barelyfitz.com/screencast/html-training/css/positioning/ step 4 */
  position:relative;
}

.ui-resizable-s {
  position: absolute;
  cursor: s-resize;
  height: 7px;
  width: 100%; 
  left: 0; 
  bottom:0;
  z-index:1000;
}

/* datepicker */
.ui-datepicker { width: 17em; padding: .2em 1.3em 0; display: none; background: white }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: .5em; width: 1.8em; height: 1.8em; cursor: pointer }
.ui-datepicker .ui-datepicker-prev { left:2px;  }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }

